.element__about {
    max-width: 282px;
    background-color: white;
    border-radius: 0 0 10px 10px;
    display: flex;
    justify-content: space-between;
    padding: 25px 0 25px 21px;
    align-items: center;
    min-height: 35px;
}