.popup__closed {
    width: 32px;
    height: 32px;
    background-image: url(../../../image/Close__Icon.svg);
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    position: absolute;
    top: -40px;
    right: -40px;
    padding: 0;
    cursor: pointer;

}

.popup__closed:hover{
    opacity: 0.6;
}

@media screen and (max-width:520px) {
    .popup__closed {
        background-image: url(../../../image/Close_Icon_small-size.svg);
        width: 20px;
        height: 20px;
        top: -36px;
        right: 1px;
    }
}