.popup__submit {
    background-color: black;
    max-width: 358px;
    min-height: 50px;
    border: none;
    border-radius: 2px;
    color: white;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    margin: 31px 0 37px 0;
    cursor: pointer;
    padding: 0;
}

.popup__submit:hover {
    opacity: 0.8;
}

@media screen and (max-width:520px) {
    .popup__submit {
        font-size: 14px;
        line-height: 17px;
        margin: 45px 0 0 0;
    }
}